<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.5.xsd">
    
    <bean id="cacheAdministrator" class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy" >
		<constructor-arg>
    		<props>
	            <prop key="cache.algorithm">com.opensymphony.oscache.base.algorithm.LRUCache</prop>
	            <prop key="cache.memory">true</prop>
	            <prop key="cache.capacity">1000</prop>
	        </props>
    	</constructor-arg>
    </bean>
	
	<bean id="cache" factory-bean="cacheAdministrator" factory-method="getCache" /><!-- the Singleton applicationCache -->
    
    <bean id="IKAnalyzer" class="org.wltea.analyzer.lucene.IKAnalyzer">
    </bean>
    
    <bean name="abstractIndexManager" class="com.pw.spider.index.AbstractIndexManager" abstract="true">
        <property name="threadNum" value="10"/> 
        <property name="buildNumPerThread" value="10000"/> 
        <property name="analyzer" ref="IKAnalyzer"/>
        <property name="generalCacheAdministrator" ref="cacheAdministrator"/>
    </bean>
    
    <bean id="bookIndexManager" class="com.pw.spider.index.BookIndexManager" parent="abstractIndexManager">
        <property name="baseDir" value="${index.baseDir}"/>
        <property name="tempDir" value="${index.tempDir}"/>
        <property name="allDir"  value="${index.allDir}"/>
        <property name="dailyDir" value=""/>
        <property name="deltaDir" value="${index.deltaDir}"/>
        <property name="deltaBuildInterval" value="${index.deltaBuildInterval}"/>
        <property name="bookDao" ref="bookDao"/>
        <property name="entryDao" ref="entryDao"/>
    </bean>
    
    <bean name="abstractSearchManager" class="com.pw.spider.search.AbstractSearchManager" abstract="true">
        <property name="analyzer" ref="IKAnalyzer"/>
        <property name="defaultPageSize" value="20"/>
        <property name="cache" ref="cache"/>
    </bean>
     
    <bean id="bookSearchManager" class="com.pw.spider.search.BookSearchManager" parent="abstractSearchManager" init-method="init">
        <property name="searchDir" value="${index.allDir}"/> 
    </bean>
    
    <bean class="com.pw.spider.search.BuildDeltaTaskBean" init-method="init"> 
        <property name="bookIndexManager" ref="bookIndexManager"/>
    </bean>
    
	<util:list id="forbidBooks" list-class="java.util.ArrayList">
		<value>一千零一夜系列三部</value>
		<value>暗夜情魔</value>
		<value>春风又绿江南岸</value>
		<value>堕落警察</value>
		<value>疯狂传说</value>
		<value>焚天愤天阴魔淫魔</value>
		<value>革命逸事</value>
		<value>高树三姐妹</value>
		<value>皇朝秘使</value>
		<value>红瞳</value>
		<value>静静的辽河</value>
		<value>一代淫后洛冰传</value>
		<value>玲珑孽缘</value>
		<value>魔王重生</value>
		<value>魔淫之宴</value>
		<value>内裤奇缘</value>
		<value>女文工团员的最后下落</value>
		<value>神雕侠侣逍遥篇</value>
		<value>少妇系列</value>
		<value>天地之间</value>
		<value>通灵师手记</value>
		<value>天使三部曲</value>
		<value>我的淫乱生活</value>
		<value>我的妹妹雯雯</value>
		<value>现代逍遥录</value>
		<value>现代淫魔录</value>
		<value>邪灵战记</value>
		<value>小丫环</value>
		<value>侠医淫者梦</value>
		<value>欲海神龙</value>
		<value>欲海逍遥</value>
		<value>游龙嘻春</value>
		<value>玉女盟</value>
		<value>鹰翔长空</value>
		<value>淫之书</value>
		<value>中国历朝美女</value>
		<value>折翼天使</value>
		<value>重罪</value>
		<value>春风化雨录</value>
		<value>剑魂</value>
		<value>黄金神传</value>
		<value>惊尘溅血</value>
		<value>胶洲女烈传</value>
		<value>木里求丝称雄记</value>
		<value>女狱风云</value>
		<value>奇缘四部曲</value>
		<value>契约法师</value>
		<value>三宝局长</value>
		<value>书剑后传</value>
		<value>圣兽传说</value>
		<value>五界虞花</value>
		<value>武林启示录</value>
		<value>我与杨昆玲玉足的罗曼史</value>
		<value>一个领主的养成</value>
		<value>阳光下的杀手</value>
		<value>胭脂口红小说</value>
		<value>宇宙执法者</value>
		<value>沧浪曲</value>
		<value>处子作品系列</value>
		<value>大公司的圣姑</value>
		<value>恶</value>
		<value>风流人生</value>
		<value>风流少年</value>
		<value>父之过</value>
		<value>红楼倚梦</value>
		<value>巨轮</value>
		<value>亮晶美女</value>
		<value>炼金师玛丽</value>
		<value>乱云飞渡</value>
		<value>嫩草老根</value>
		<value>男人四十风花雪月</value>
		<value>青蓝双娇</value>
		<value>奇淫宝典</value>
		<value>天生我材必有用</value>
		<value>铁雪</value>
		<value>天下野鸳鸯绝世荡淫女</value>
		<value>我的情史</value>
		<value>我的天下</value>
		<value>无人敢亵渎的美女破宫</value>
		<value>玉麟传说</value>
		<value>雨落南阳</value>
		<value>夜色下的上海滩</value>
		<value>逐鹿香江</value>
		<value>边草</value>
		<value>北国的春天</value>
		<value>儿子是地狱的使者</value>
		<value>何春传奇史</value>
		<value>花香袭人春月塘</value>
		<value>江湖</value>
		<value>剑魔</value>
		<value>艰难的借种经历</value>
		<value>人间那一场风花雪月的事</value>
		<value>性狂想曲</value>
		<value>双面佳人</value>
		<value>圣女</value>
		<value>神圣的处女</value>
		<value>无双三国志</value>
		<value>小宝六凤</value>
		<value>杨家将外传</value>
		<value>杨小青自白</value>
		<value>颤栗的情人</value>
		<value>钻石欲火</value>
		<value>KOMOLO作品集</value>
		<value>苹果情缘</value>
		<value>情迷梦醒</value>
		<value>苍茫之鹰</value>
		<value>黑蕾丝系列</value>
		<value>幻梦唯心</value>
		<value>情色海岸线两周年贺文全集</value>
		<value>驾驶生涯</value>
		<value>江山如此多娇</value>
		<value>孽海花</value>
		<value>女警故事</value>
		<value>十日谈</value>
		<value>淫女暴力SM故事</value>
		<value>游龙传</value>
		<value>战乱的星系</value>
		<value>杨小青系列</value>
		<value>小青的故事</value>
		<value>小青的韵事</value>
		<value>小青的情人</value>
		<value>小青的自白</value>
		<value>沙发上的小青</value>
		<value>朱颜血</value>
		<value>O的故事</value>
		<value>暴露的淫荡妻</value>
		<value>补习班姻缘</value>
		<value>成仁记</value>
		<value>出差</value>
		<value>处女牧场</value>
		<value>东京风月</value>
		<value>都市情侠风云录</value>
		<value>缚美传</value>
		<value>凰戏凤</value>
		<value>剑荡天下</value>
		<value>贱妇</value>
		<value>汤加丽</value>
		<value>金磷岂是池中物</value>
		<value>恋恋风尘</value>
		<value>玫瑰劫</value>
		<value>梅花三弄</value>
		<value>美妻淫记</value>
		<value>飘在北京</value>
		<value>人在深圳</value>
		<value>商场小神龙</value>
		<value>武侠情色欣赏</value>
		<value>性医春歌</value>
		<value>欲情ON-AIR</value>
		<value>极品公子</value>
		<value>采花传大盗</value>
		<value>娇艳江湖</value>
		<value>大侠魂</value>
		<value>俪影蝎心</value>
		<value>东风传奇</value>
		<value>红楼遗秘</value>
		<value>玲珑孽缘</value>
		<value>朝日天劫</value>
		<value>邻家有女初长成</value>
		<value>重建帝国</value>
		<value>共和国之怒</value>
		<value>中国特工</value>
		<value>历史篡改者</value>
		<value>2008，小鹰号沉没</value>
		<value>民殇</value>
		<value>共和国士兵</value>
		<value>新中华战记</value>
		<value>红旗漫漫</value>
		<value>共和国2049</value>
		<value>国之利刃</value>
		<value>百年庆典</value>
		<value>我在黑暗中</value>
		<value>北京战争</value>
		<value>角落里的枪</value>
		<value>江湖淫娘</value>
		<value>红楼绮梦</value>
		<value>骆冰淫传</value>
		<value>夫妇乐园</value>
		<value>阿里布达年代记</value>
		<value>不良少女日记</value>
		<value>沧澜曲</value>
		<value>创世之子猎艳之旅</value>
		<value>东北风情熟女之惑</value>
		<value>风骚侍女</value>
		<value>海盗的悠闲生活</value>
		<value>黑天使</value>
		<value>黑星女侠</value>
		<value>混蛋神风流史</value>
		<value>狡猾的风水相师</value>
		<value>狂风暴雨</value>
		<value>俪影蝎心</value>
		<value>梦中的女孩</value>
		<value>秦青的幸福生活</value>
		<value>四海龙女</value>
		<value>逃亡艳旅</value>
		<value>我的性启蒙老师</value>
		<value>现代艳帝传奇</value>
		<value>星光伴我淫</value>
		<value>倚天屠龙别记</value>
		<value>淫术炼金士</value>
		<value>十景缎</value>
		<value>往事追忆录</value>
		<value>舌战法庭</value>
		<value>少妇白洁</value>
		<value>风月大陆</value>
		<value>风尘劫</value>
		<value>美少妇的哀羞</value>
		<value>阿兵哥言语录</value>
		<value>遥想当年春衫薄</value>
		<value>王子淫传</value>
		<value>神雕外传之郭襄</value>
		<value>睡着的武神</value>
		<value>少年阿宾</value>
		<value>爱神之传奇</value>
		<value>红旗漫漫</value>
		<value>共和国2049</value>
		<value>百年庆典</value>
		<value>龙战士传说</value>
		<value>狡猾的风水师</value>
		<value>金鳞岂是池中物</value>
		<value>天生我材必有用</value>
		<value>风流花少</value>
		<value>江山如此多娇</value>
		<value>汉风</value>
		<value>艳遇编年史</value>
		<value>猎艳江湖梦</value>
		<value>国之利刃</value>
		<value>重建帝国2.0</value>
		<value>金赢传</value>
		<value>鹰翔长空</value>
		<value>鹰狼传</value>
		<value>巨轮</value>
		<value>成仁记</value>
		<value>克里斯蒂安战记</value>
		<value>圣女传说</value>
		<value>游龙传</value>
		<value>大丑风流记</value>
		<value>共和国之辉</value>
		<value>我是大魔鬼</value>
		<value>历史窜改者</value>
		<value>共和国士兵</value>
		<value>我在黑暗中</value>
		<value>角落里的枪</value>
		<value>民殇</value>
		<value>荒唐传说</value>
		<value>中国特工</value>
		<value>共和国之怒</value>
		<value>北京战争</value>
		<value>2008，小鹰号沉没</value>
		<value>新中华战记</value>
		<value>红旗飘飘</value>
		<value>红楼遗秘</value>
		<value>怒之典章</value>
		<value>共和国之怒</value>
	</util:list>
	<util:list id="forbidAuthors" list-class="java.util.ArrayList">
		<value>acome</value>
		<value>四月</value>
		<value>季璃</value>
		<value>阿潼</value>
		<value>蜜见</value>
		<value>枫临</value>
		<value>林雪儿</value>
		<value>糖果</value>
		<value>轩辕路苍</value>
		<value>耕筠</value>
		<value>怜怜</value>
		<value>元媛</value>
		<value>安祖缇</value>
		<value>贝儿</value>
		<value>蓓蓓</value>
		<value>蓝琴</value>
		<value>晨汝</value>
		<value>蟲虫</value>
		<value>多多</value>
		<value>荳莎</value>
		<value>黛博拉·马汀</value>
		<value>欧静</value>
		<value>红岑</value>
		<value>迷羊</value>
		<value>独孤残红</value>
		<value>墨阳子</value>
		<value>vivibear</value>
		<value>溯水美人</value>
		<value>祭品少年</value>
		<value>少爷的家教</value>
		<value>蛇祭</value>
		<value>钦点凤妃</value>
		<value>我主王朝——男妃</value>
		<value>当色狼遇上蛇王</value>
		<value>宠物乖乖</value>
		<value>雪地之虎</value>
		<value>醉颜红</value>
		<value>逆勇者传说</value>
		<value>火狐神殿</value>
		<value>狼来了</value>
		<value>龙氏系列</value>
		<value>不伦之恋</value>
		<value>昭妃艳史</value>
		<value>西施艳史演义</value>
		<value>貂禅艳史演义</value>
		<value>西太后艳史演义</value>
		<value>虐爱小神父</value>
		<value>禁愿</value>
		<value>投怀送抱</value>
		<value>恶女夺爱</value>
		<value>花落谁家</value>
		<value>秘密的罪人</value>
		<value>圣诞新娘</value>
		<value>奉旨成婚</value>
		<value>反间神捕</value>
		<value>俭情人</value>
		<value>虐焰焚情</value>
		<value>羽仙记事</value>
		<value>妓女日记</value>
		<value>淫欲城堡</value>
		<value>大丑风流记</value>
		<value>第一无赖</value>
		<value>花心天子</value>
		<value>日军军妓</value>
		<value>革命逸事</value>
		<value>彩虹剑</value>
		<value>大侠魂</value>
		<value>东风传奇</value>
		<value>护花剑</value>
		<value>冷香谷</value>
		<value>云雨欲魔</value>
		<value>欲魔艳史</value>
		<value>三折剑</value>
		<value>十年孤剑沧海盟</value>
		<value>旋风花</value>
		<value>一剑破天骄</value>
		<value>玉麟传奇</value>
		<value>红楼遗秘</value>
		<value>天降神龙</value>
		<value>江湖艳情录</value>
		<value>现代广州白领的淫荡生活</value>
		<value>玲珑孽怨</value>
		<value>道德的秘密</value>
		<value>迷离的嫂嫂</value>
		<value>女学生的耻蜜</value>
		<value>绝色家族</value>
		<value>武林启示录</value>
		<value>妙人间</value>
		<value>阿樱的悄悄话</value>
		<value>交换姐妹花</value>
		<value>照日天劫</value>
		<value>墓碑——中国六十年代大饥荒纪实</value>
		<value>毛泽东思想万岁</value>
		<value>六四诗集</value>
		<value>中国“六四”真相</value>
		<value>毛泽东私人医生回忆录</value>
		<value>晚年周恩来</value>
		<value>高文谦</value>
		<value>赵紫阳软禁中的谈话</value>
		<value>宗凤鸣</value>
		<value>毛泽东：鲜为人知的故事</value>
		<value>张戎</value>
		<value>维权诗集</value>
		<value>蒋品超</value>
		<value>真实的朝鲜</value>
		<value>叶永烈</value>
	</util:list>
</beans>