<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.5.xsd">
    
    <bean id="cacheAdministrator" class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy" >
		<constructor-arg>
    		<props>
	            <prop key="cache.algorithm">com.opensymphony.oscache.base.algorithm.LRUCache</prop>
	            <prop key="cache.memory">true</prop>
	            <prop key="cache.capacity">1000</prop>
	        </props>
    	</constructor-arg>
    </bean>
	
	<bean id="cache" factory-bean="cacheAdministrator" factory-method="getCache" /><!-- the Singleton applicationCache -->
    
    <bean id="IKAnalyzer" class="org.wltea.analyzer.lucene.IKAnalyzer">
    </bean>
    
    <bean name="abstractIndexManager" class="com.pw.spider.index.AbstractIndexManager" abstract="true">
        <property name="threadNum" value="10"/> 
        <property name="buildNumPerThread" value="10000"/> 
        <property name="analyzer" ref="IKAnalyzer"/>
        <property name="generalCacheAdministrator" ref="cacheAdministrator"/>
    </bean>
    
    <bean id="bookIndexManager" class="com.pw.spider.index.BookIndexManager" parent="abstractIndexManager">
        <property name="baseDir" value="${index.baseDir}"/>
        <property name="tempDir" value="${index.tempDir}"/>
        <property name="allDir"  value="${index.allDir}"/>
        <property name="dailyDir" value=""/>
        <property name="deltaDir" value="${index.deltaDir}"/>
        <property name="deltaBuildInterval" value="${index.deltaBuildInterval}"/>
        <property name="bookDao" ref="bookDao"/>
        <property name="entryDao" ref="entryDao"/>
    </bean>
    
    <bean name="abstractSearchManager" class="com.pw.spider.search.AbstractSearchManager" abstract="true">
        <property name="analyzer" ref="IKAnalyzer"/>
        <property name="defaultPageSize" value="20"/>
        <property name="cache" ref="cache"/>
    </bean>
     
    <bean id="bookSearchManager" class="com.pw.spider.search.BookSearchManager" parent="abstractSearchManager" init-method="init">
        <property name="searchDir" value="${index.allDir}"/> 
    </bean>
    
    <bean class="com.pw.spider.search.BuildDeltaTaskBean" init-method="init"> 
        <property name="bookIndexManager" ref="bookIndexManager"/>
    </bean>
    
	<util:list id="forbidBooks" list-class="java.util.ArrayList">
		<value>江湖</value>
		<value>剑魔</value>
	</util:list>
	<util:list id="forbidAuthors" list-class="java.util.ArrayList">
		<value>acome</value>
		<value>四月</value>
	</util:list>
</beans>